<div class = 'login'>

<h2>Please register your business</h2>
<h4>Business email will be displayed on search results as contact.</h4>
<form action="/business/register" method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="authEmail"></label>
    <input id="authEmail" class="form-control" type="email" name="email" placeholder='Business Email'>
  </div>

  <div class="form-group">
    <label for="restaurantName"></label>
    <input id="restaurantName" class="form-control" type="text" name="restaurant_name" placeholder="Restaurant Name">
  </div>

  <div class="form-group">
    <label for="neaLicense"></label>
    <input id="neaLicense" class="form-control" type="text" name="nealicense" placeholder="NEA License">
  </div>

  <div class="form-group">
    <label for="Address"></label>
    <input id="Address" class="form-control" type="text" name="address" placeholder="Address">
  </div>

  <div class="form-group">
    <label for="Cuisine"></label>
    <input id="Cuisine" class="form-control" type="text" name="cuisine" placeholder="Cuisine">
  </div>
  <div class="form-group">
    <label for="Contact"></label>
    <input id="Contact" class="form-control" type="number" name="contact" placeholder="Contact">
  </div>
  <div class="form-group">
    <label for="description"></label>
    <input id="description" class="form-control" type="text" name="description" placeholder="Description">
  </div>
  <div class="form-group">
    <label for="Promotions"></label>
    <input id="Promotions" class="form-control" type="text" name="promotion" placeholder= 'Promotions'>
  </div>
  Location
  <select type='text' name='location'>
  <option value="Afghanistan">Afghanistan</option>
</select>
<br /><br />


<div class="form-group">
      <label for="profilePicture">Attach Profile Picture</label>
      <input type='file' name='profilePicture'>
    </div>

<input class="btn btn-primary" type="submit">
</form>
