<h2>Please register your business</h2>
<h4>Email should be the same as the one used to register for an account</h4>
<form action="/bizreg" method="POST">
  
  <div class="form-group">
    <label for="authEmail">Email</label>
    <input id="authEmail" class="form-control" type="email" name="email">
  </div>

  <div class="form-group">
    <label for="restaurantName">Restaurant Name</label>
    <input id="restaurantName" class="form-control" type="text" name="restaurant_name">
  </div>

  <div class="form-group">
    <label for="neaLicense">NEA License</label>
    <input id="neaLicense" class="form-control" type="text" name="nealicense">
  </div>

  <div class="form-group">
    <label for="Address">Address</label>
    <input id="Address" class="form-control" type="text" name="address">
  </div>

  <div class="form-group">
    <label for="Cuisine">Cuisine</label>
    <input id="Cuisine" class="form-control" type="text" name="cuisine">
  </div>

  <input class="btn btn-primary" type="submit">

</form>
