<h2>Register An Account</h2>
<h4>Contribute your part to the food community</h4>
<form action="/register" method="POST">


  <div class="form-group">
    <label for="authEmail">Login Email</label>
    <input id="authEmail" class="form-control" type="email" name="email">
  </div>

  <div class="form-group">
    <label for="authPassword">Password</label>
    <input id="authPassword" class="form-control" type="password" name="password">
  </div>

  <div class="form-group">
    <label for="authName">Username</label>
    <input id="authName" class="form-control" type="text" name="username">
  </div>

  <div class="form-group">
    <label for="Birthday">Birthday</label>
    <input id="Birthday" class="form-control" type="date" name="birthday">
  </div>

  <div class="form-group">
      <b>Business?</b> <input type="radio" name='business' value = 'true'>Yes</input>
        <input type="radio" name='business' checked='checked' value ='false'>No</input>
    </div>


  <input class="btn btn-primary" type="submit">

</form>
