<h2>About</h2>
<link rel="stylesheet" type="text/css" href="/style.css"/>
<a href = '/'>Home</a>
<a href = '/about'>About</a>
<a href = '/faq'>FAQ</a>
<div class = 'paraone'>
  <p>
    Food has always been played a big part in our lives. The combination of different herbs and spices, together with sauces and condiments, has accentuated the food we put into our mouths and has differentiated the many cultures and businesses.
    <br>
    <br>
    Being able to stand out in the variety of cuisines available these days has now got to do more than just the taste, but also requires the understanding of the role of marketing tactics and food aesthetics.
  </p>
</div>
