<h2>Edit</h2>
<form action="/business/edit?_method=put" method="POST">

  <div class="form-group">
    <label for="Address">Address</label>
    <input id="Address" class="form-control" type="text" name="address">
  </div>


  <input type="submit" value = 'Update'>

</form>
