<h2>Business Details</h2>

<ul>

    <li>
    <%- restaurants.restaurant_name %>
    </li>
    <li>
      <%- restaurants.email %>
    </li>
    <li>
      <%- restaurants.cuisine %>
    </li>
    <li>
      <%- restaurants.address %>
    </li>



</ul>

<a href = '/business/edit'>Edit Business</a>
<a href = '/business/delete'>Delete Business</a>
