
<div class = 'container'>
  <h2>This is a webpage for Project Two.</h2>
</div>

<form action="/" method="POST">
  <div class="form-group">
    <label for="cuisine">Cuisine</label>
    <input id="cuisine" class="form-control" type="text" name="cuisine">
  </div>
  <input class="btn btn-primary" type="submit" value='Search'>
</form>
