<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <title>Project Two</title>
  </head>
  <body>
    <h2>This is a webpage for Project Two.</h2>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src='assets/js/script.js' charset='utf-8'></script>
  </body>

</html>
