<h2>This is a webpage for Project Two.</h2>
<%# <link rel="stylesheet" type="text/css" href="/style.css"/>%>
<a href = '/'>Home</a>
<a href = '/about'>About</a>
<a href = '/faq'>FAQ</a>
<a href = '/register'>Sign Up</a>
<a href = '/blog'>Blog</a>
