<div class='topdiv'>
    <h2 class = 'header'>CE SOIR</h2>
    <div class='innercontent'>
        <form action="/results" method="POST">
            I want to eat
            <select id='cuisine' type='text' name='cuisine'>
    <option value=""></option>
    <% cuisine.forEach(function(data){ %>
      <option value="<%- data %>"><%- data %></option>
    <% }) %>
  </select> food in
            <select id='location' type='text' name='location'>
    <% location.forEach(function(data){ %>
      <option value="<%- data %>"><%- data %></option>
    <% }) %>
  </select>
  <br />
            <input class="btn btn-primary" type="submit" value='Search'>
        </form>
    </div>
    <br />
    <a href='#signup' class= 'topheader'>Sign Up</a>
</div>

<section class='boxtwo' id='about'>
    <p class = 'aboutpara'>
      Food has always played a big part in our lives. The combination of different herbs and spices, together with sauces and condiments, has accentuated the food we put into our mouths and has differentiated the many cultures and businesses.
<br /><br />
      CE SOIR is here to for new or small restaurants as a platform for advertising. New restaurants often go unnoticed until a good marketing choice happened. Many new restaurants developed recipes to stand out or engaged in promotions to garner traction. With this app, restaurant owners are given an alternative choice to promote their businesses. Owners can simply sign up as our users and input the details of their restaurants and current promotions.
<br /><br />
      Being able to stand out in the variety of cuisines available these days has now got to do more than just the taste, but also requires the understanding of the role of marketing tactics and food aesthetics.
    </p>
</section>

<div class = 'bottomdiv' id ='signup'>
  <br />
  REGISTER YOUR BUSINESS WITH US AND START ADVERTISING!
<form action="/" method="POST">
  <div class="form-group">
    <label for="authEmail">Email</label>
    <br />
    <input id="authEmail" class="form-control" type="email" name="email">
  </div>

  <div class="form-group">
    <label for="authPassword">Password</label><br />
    <input id="authPassword" class="form-control" type="password" name="password">
  </div>

  <div class="form-group">
    <label for="authName">Username</label><br />
    <input id="authName" class="form-control" type="text" name="username">
  </div>
  <br />
  <input class="btn btn-primary" type="submit">

</form>
</div>
