<div class='ancestor'>
    <div class='column'>
        <form action="/results" method="POST">
            <span class='select' style='border-style: none;'>
<select id='cuisine' type='text' name='cuisine'>
<option value=""></option>
<% cuisine.forEach(function(data){ %>
<option value="<%- data %>"><%- data %></option>
<% }) %>
</select> </span>
            <input class="button is-primary" type="submit" value='Search'>
        </form>
    </div>
</div>
<div class='loginbutton'>
    <% if (!currentUser) {%>
        <a href='/login' class='button is-primary is-inverted is-outlined'>LOGIN</a>
        <a href='/register' class='button is-primary is-inverted is-outlined'>REGISTER</a>
        <% } %>
</div>
