
<div class = 'container'>
  <h2>This is a webpage for Project Two.</h2>


<form action="/results" method="POST">
I want to eat
  <select id = 'cuisine' type ='text' name = 'cuisine'>
    <option value=""></option>
    <% cuisine.forEach(function(data){ %>
      <option value="<%- data %>"><%- data %></option>
    <% }) %>
  </select>
  food in
  <select id = 'location' type ='text' name = 'location'>
    <% location.forEach(function(data){ %>
      <option value="<%- data %>"><%- data %></option>
    <% }) %>
  </select>
  <input class="btn btn-primary" type="submit" value='Search'>
</form>

</div>
