
<div class = 'container'>
  <h2>This is a webpage for Project Two.</h2>
</div>

<form action="/results" method="POST">
  <%# <div class="form-group">
    <label for="cuisine">Cuisine</label>
    <input id="cuisine" class="form-control" type="text" name="cuisine">
  </div>%>

I want to eat
  <select id = 'cuisine' type ='text' name = 'cuisine'>
    <option value=""></option>
    <% cuisine.forEach(function(data){ %>
      <option value="<%- data %>"><%- data %></option>
    <% }) %>
  </select>
  food in
  <select id = 'location' type ='text' name = 'location'>
    <% location.forEach(function(data){ %>
      <option value="<%- data %>"><%- data %></option>
    <% }) %>
  </select>
  <input class="btn btn-primary" type="submit" value='Search'>
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src='public/js/script.js' charset='utf-8'></script>
  <script>
  $(document).ready(function(){
    $('#cuisine').on('change', function(e) {
      $('#location')
  })







  })
</script>
