<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CE SOIR</title>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css' />
<link rel="stylesheet" type="text/css" href='/css/main.css' />
<link rel="stylesheet" type="text/css" href='/css/style.css' />
</head>

<body>
  <nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
      </a>
      <a class="nav-item is-tab is-hidden-mobile" href = '/'>Home</a>
        <a class="nav-item is-tab is-hidden-mobile" href = '/faq'>About</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-center">
   <a class="nav-item">
       <% include partials/alerts %>
   </a>

 </div>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet is-active" >Home</a>
      <a class="nav-item is-tab is-hidden-tablet">About</a>

      <% if (!currentUser) { %>
          <a class="nav-item is-tab is-hidden-mobile" href='/register'>Sign Up</a>
          <a class="nav-item is-tab is-hidden-mobile" onclick="<% modalOpen() %>">Login</a>
          <% } %>
          <% function modalOpen(){ %>
            document.getElementById('modaldelete').classList.add('is-active')
          <% }  %>

          <div class="modal" id="modaldelete">
              <div class="modal-background" onclick=
              "<% closeModal() %>"></div>
              <div class="modal-card">
                  <header class="modal-card-head">
                      <p class="modal-card-title">Login</p>
                  </header>
                  <section class="modal-card-body">
                    <form action="/login" method="POST">
                      <div class="form-group">
                        <label for="authEmail"></label>
                        <input id="authEmail" class="form-control" type="email" placeholder='EMAIL' name="email">
                      </div>
                      <div class="form-group">
                        <label for="authPassword"></label>
                        <input id="authPassword" class="form-control" type="password" name="password" placeholder = 'PASSWORD'>
                      </div>
                  </section>
                  <footer class="modal-card-foot">
                    <input class="button is-success" type="submit">
                  </form>
                      <a class="button" onclick="<% closeModal() %>">Cancel</a>
                      <% function closeModal() { %>
                          document.getElementById('modaldelete').classList.remove('is-active')
                          <% } %>
                  </footer>
              </div>

          </div>
      <% if (currentUser) { %>
        <a class="nav-item is-tab">Ça va <%= currentUser.username %></a>
        <a class="nav-item is-tab" href='/profile'>Profile</a>
        <a class="nav-item is-tab" href='/logout'>Logout</a>
          <% } %>
    </div>
  </div>
</nav>


                            <%- body %>

                          <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</body>

</html>
