<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Project Two</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
  </head>
  <body>
    <a href = '/'>Home</a>
    <a href = '/about'>About</a>
    <a href = '/faq'>FAQ</a>
    <a href = '/blog'>Blog</a>
    <a class = 'register' href = '/register'>Sign Up</a>
    <%- body %>
  </body>
</html>
