<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CE SOIR</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
  <div class = 'layout'>
    <a href='/'>Home</a>
    <% if (currentUser) { %>
        <a href='/profile'>Profile</a>
        <a href='/logout'>Logout</a>
        <br /><br /> Logged in as: <b><%= currentUser.username %></b>
        <% } %>
                <% if (!currentUser) { %>
                    <a href='/register'>Sign Up</a>
                    <a href='/login'>Login</a>
                    <% } %>
                        <% include partials/alerts %>
                        </div>
                            <%- body %>
</body>

</html>
