<table class = 'table'>
  <% restaurant.forEach(function (data){ %>

  <thead>
    <tr>
    <th><a href = 'restaurant/profile/<%- data._id %>'><%= data.restaurant_name %></a>

    </th>
    </tr>
    <tr>
    <td>
    <%= data.description %>

    </td>

    </tr>

  </thead>


<%  }) %>
  </table>
  
