<div class = 'login'>


<h2>User Profile</h2>

  User Name : <b><%- users.username %></b>
  <br />
  Email:  <b><%- users.email %></b>
  <br />
<br />
<form action ='/user/edit'>
  <input type = 'submit' value = 'Edit Account' />
</form>
<form action ='/user/delete'>
  <input type = 'submit' value = 'Delete Account' />
</form>

</div>
