<h2>Edit</h2>
<form action="/user/edit?_method=put" method="POST">

  <div class="form-group">
    <label for="username">User Name</label>
    <input id="username" class="form-control" type="text" name="username">
  </div>


  <input type="submit" value = 'Update'>

</form>
