<div class = 'login'>

<h2>Edit Username</h2>
<form action="/user/edit?_method=put" method="POST">

  <div class="form-group">
    <label for="username"></label>
    <input id="username" class="form-control" type="text" placeholder = 'USERNAME' name="username">
  </div>


  <input type="submit" value = 'Update'>

</form>
</div>
