.header {
  text-align: center;
  padding-top: 3%;
  color: white;
}
.innercontent{
  text-align: center;

}
.topheader{
  text-align: center;
}

.aboutpara {
  width: 80%;
  margin-left:10%;
  margin-top: 2%;
  padding: 20px;
  font-family: 'Dosis', sans-serif;
  font-size:16px;
}

.postone {
  text-align: center;
}

.register {
  margin-left: 80%;
  text-align: right;
}

.container {
  height: 480px;
  width: 100%;
  background-image: url('/pizza.jpg');
  background-size: 1450px 680px;
  background-position: center center;
  position: relative;
}

.table{
  margin-top: 5%;
  width: 100%;
  text-align: left;
  margin-left: 10%;
}

.description{
  margin-top: 2%;
  margin-left:20%;
}

.restaurantprofile{
  margin-left: 20%;
  margin-top: 5%;
}
.username {
  text-align: right;
}
.review{
  margin-top: 2%;
  margin-left: 4%;
  margin-right:10%;
}
.reviewheader{
  margin-top: 2%;
  margin-left: 4%;
}
